html
  head
    title= topic
    style
      include ../../css/reset.css
      include ../../css/style.css
    script(src='https://code.jquery.com/jquery-2.2.3.min.js')
    script
      include ../../js/script.js
    script(src='http://localhost:3000/socket.io/socket.io.js')
  body
    header.myHeader
      h1= 'Live Q&A app'
    a(href="/discussion/all", class="goBack") Ga terug naar alle discussies
    h1.topicName= topic
    form(method="", action="", id="formNewQuestion")
      label(for="newQuestion", class="labelBig") Stel hier je vraag
      input(type="text", id="addQuestion", name="newQuestion", placeholder="Stel hier je vraag", class="bigInput")
      input(type="submit", name="btnQuestion", id="btnQuestion", value="Vraag stellen", class="inputLeft")
  ul.questions
    each qanda in allQandAs
      h2.question #{qanda.question}
      ul(data-answers-questionID=qanda._id, class="answers")
        each answer in qanda.answers
          h3.answer #{answer.answer}
      form(method="", action="", name="answer")
        label(for="answerQ", class="labelBig labelBig__answer") Answer the question
        input(type="text", data-answer-questionID=qanda._id, name="newAnswer", placeholder="Schrijf hier je comment",class="bigInput__answer")
        input(type="submit", data-button-questionID=qanda._id, name="btnAnswer", value="Reageer", class="submit__answer")
